{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Game Shelf</title>
</head>
<body>

    <div class="navbar">
        <a href="/">Home</a>
        <a href="/games/">All Games</a>
    </div>

    <div>
        <h1>🎮 Game Shelf</h1>

        <p>Track your favorite games!</p>
                
        <br>

        <a href="/games/" class="button">View Games</a>        
    </div>

</body>
</html>