{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Review</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<body>

    <div class="navbar">
        
        <a href="/">Home</a>
        <a href="/games/">All Games</a>
        <a href="/tags/">Tags</a>

        {% if user.is_authenticated %}

            <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="button">Log Out</button>
            </form>

        {% else %}

            <a href="{% url 'login' %}" class="button">Log In</a>
            <a href="{% url 'signup' %}" class="button">Sign Up</a>

        {% endif %}

    </div>

    <div class="game-card">
        <h1>Edit Review</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="button">Save</button>
        </form>
    </div>

</body>
</html>